{% extends 'base.html.twig' %}

{% block title %}OpenXE - Login{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="./themes/new/css/normalize.min.css?v=5">
	<link rel="stylesheet" href="./themes/new/css/login_styles.css?v=3">
	<link rel="stylesheet" href="./themes/new/css/custom.css?v=3">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="./js/jquery/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="./js/jquery/jquery-migrate-3.2.0.min.js"></script>
	<script src="themes/new/js/scripts_login.js"></script>
{% endblock %}

{% block body %}
<body>
<div id="login-container">
	<div id="login-slider-wrapper">
		<div id="login-slider">
            <div class="slide" style="background-image: url('./themes/new/images/login_screen_picture.jpg');"></div>
	    </div>
    </div>
	<div id="login-wrapper">

	<img src="{{ tpl.TPLLOGOFIRMA }}" heigth="72">

		<div class="intro">
			Willkommen bei OpenXE ERP.<br/>
			Bitte gib Deinen Benutzernamen und Passwort ein!
		</div>
		<div {{ tpl.LOGINWARNING_VISIBLE }} class="warning"><p>{{ tpl.LOGINWARNING_TEXT }}</p></div>

		{{ tpl.SPERRMELDUNGNACHRICHT|default|raw }}
        {{ tpl.PAGE|raw }}
		<div id="login-footer">
			<div class="copyright">
				&copy; {{ tpl.YEAR }} by OpenXE-org & Xentral&nbsp;ERP&nbsp;Software&nbsp;GmbH.<br>
                OpenXE is free open source software under AGPL/EGPL license, based on <a href="https://xentral.com" target="_blank">Xentral®</a>.<br>
				<a href="https://github.com/OpenXE-org/OpenXE/commits/master">{{ tpl.XENTRALVERSION }}</a>
			</div>
		</div>

	</div>
</div>

</body>
{% endblock %}
