{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}OpenXE - Passwort vergessen{% endblock %}

{% block body %}
<body>
    <div class="login-wrapper">
        <div class="loginbox">

            <img id="logo" src="{{ asset('images/openxe_logo.svg') }}" width="100%">
                <table id="frmlogin">
                    {% for msg in  app.flashes('lostpw') %}
                        <tr>
                            <td class="loginbox">
                                <div>{{ msg }}</div>
                            </td>
                        </tr>
                    {% else %}
                        {{ form_start(form) }}
                        <tr>
                            <td>
                                {{ form_row(form.username, {attr: {size: 45}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                {{ form_row(form._token) }}
                                {{ form_row(form.submit, {attr: {class: 'btn btn-primary'}}) }}
                            </td>
                        </tr>
                        {{ form_end(form) }}
                    {% endfor %}
                    <tr>
                        <td align="center">
                            <a href="index.php" class="btn btn-secondary">zur&uuml;ck zum Login</a>
                        </td>
                    </tr>
                </table>
            <div class="copyright">
                &copy; {{ year|default }} OpenXE-org & Xentral ERP Software GmbH
            </div>
        </div>
    </div>
</body>
{% endblock %}
