{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}OpenXE - Passwort zurücksetzen{% endblock %}

{% block body %}
<body>
<div class="login-wrapper">
    <div class="loginbox">
        <img id="logo" src="{{ asset('images/openxe_logo.svg') }}" width="100%">

        {% if linkInvalid %}
        <div class="error">Der Link ist nicht mehr gültig</div>
        {% else %}
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        <table id="frmlogin">
            <tr>
                <td>{{ form_row(form.password, {attr: {size: 45}}) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.password2, {attr: {size: 45}}) }}</td>
            </tr>
            <tr>
                <td align="center">{{ form_row(form.submit, {attr: {class: 'btn btn-primary'}}) }}</td>
            </tr>
            <tr>
                <td align="center">

                </td>
            </tr>
        </table>
        {{ form_end(form) }}
        {% endif %}
        <a href="{{ path('openxe_legacy_index') }}" class="btn btn-secondary" style="text-align: center">zur&uuml;ck zum Login</a>
    </div>
</div>
</body>
{% endblock %}
