<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' {{ tpl.ADDITIONALCSPHEADER|default }};">
    <title>{% block title %}OpenXE{% endblock %}</title>
    <link id="shortcuticon" rel="shortcut icon" href="{{ asset('images/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" id="favicon" type="image/x-icon" href="{{ asset('images/favicon/favicon.ico') }}" >
    <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-32x32.png') }}" sizes="32x32">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
{% block body %}
<body>
</body>
{% endblock %}
</html>